@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
body {
	margin: 0;
	background: #ffffff;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
    color:#0c0000
}




header {
  background: #001570;
     position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav li::after {
  display: block;
  height: 20px;
  background-color: #ffffff;

}

nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #ffffff;
 
  position: absolute;
  top: 0;
  width: 0%;
 

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}


section {
  padding: 20px 0;
  border-bottom: 1px solid #e5e5e5;
  scroll-margin-top: 50px;
}   



html {
  scroll-behavior: smooth;
}

.h1 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
  font-family: 'Playfair Display', serif;
}

.title {
  background: #0059ff;
  padding: 40px;
}

.h2 {
  font-family: 'Playfair Display', serif;
}

